.el-table {
    th {
        background-color: #32C5FF !important;
        color: #ffff;
    }
}

.el-button--primary {
    color: #32c5ff !important;
}

.el-button--text {
    color: #32c5ff !important;

    &.red span {
        color: #FD4C40;
    }
}

.el-pagination {
    margin-top: 20px;
    justify-content: flex-end;

    .el-pager li.is-active {
        background-color: #32c5ff !important;
    }
}