.box {
    display: grid;
    width: 800px;
    height: 700px;
    background-color: antiquewhite;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(3, 100px);
    grid-template-areas: 'a a a a' 'b b . c' 'd d d d';
}

.itme {
    text-align: center;
    line-height: 100px;
}

.itme1 {
    background-color: tomato;
    grid-area: a;
}

.itme2 {
    background-color: aqua;
    grid-area: b;
}

.itme4 {
    background-color: yellowgreen;
    grid-area: c;
}

.itme5 {
    background-color: cadetblue;
    grid-area: d;
}